@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to top, #ff6000, #ff7d00, #ff9800, #ffb013, #fdc72d);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

#local {
    background-color: white;
    border-radius: 20px;
}

.opcao {
    background-color: white;
    border-radius: 20px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

#opcao {
    display: flex;
}


#seguirbtn {
    border: none;
    background-color: white;
    border-radius: 20%;
}

#seguir {
    width: 60px;
    height: 60px;
}

  