@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #ff6000, #ff7d00, #ff9800, #ffb013, #fdc72d);
  margin: 0;
  width: 375px;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.selecoes {
  background-color: white;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}

img {
  width: 74px;
  height: 74px;
}

#row1 {
  display: flex;
}

#row2 {
  display: flex;
}

h1 {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

#biologia {
  margin-top: 10px;
}

h2 {
 display: block;
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

#pesquisa {
  display: block;
  margin-left: none;
  margin-right: none;
  padding: none;
  width: 330px;
}

h1 {
  text-align: center;
}

#pesquisa {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#seletor {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  border-radius: 15px;
  border: none;
}