body {
  background-color: orange;
}

#cadastro {
  background-color: white;
}

#nome {
  background-color: white;
  color: white;
  width: none;
}

#senha {
  background-color: white;
}

#email {
  background-color: white;
}

#Login {
  background-color: white;
}

#E-mail {
  background-color: white;
}

#Senha {
  background-color: white;
}


