@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: linear-gradient(to top, #ff6000, #ff7d00, #ff9800, #ffb013, #fdc72d);
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

h1 {
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

#E-mail {
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

#Senha {
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 35px;
    font-size: 17px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 250px;
    height: 20px;
}