@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to top, #ff6000, #ff7d00, #ff9800, #ffb013, #fdc72d);
    background-color: orange;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#perfil {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 230px;
    height: 230px;
}

#seguir {
    border: none;
    background-color: orange;
    width: 40px;
    height: 40px;
}

#seguirbtn {
    border: none;
    background-color: orange;
    margin-left: -315px;
}

.selecoes {
    background-color: white;
    width: 250PX;
    height: max-content;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dados {
    width: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}